@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root{
    --primary-color: #f2726a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background:linear-gradient(#fc5c7d, #6a82fb);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    color:white;
}

.card{
    background: #242628;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%; 
    object-position: center;
  
}
.card_img{
    width: 120px;
    height: 120px;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    overflow: hidden;
    margin:0 auto;
    transform: translateY(25px);
    transition: 0.5s;
}
.card h2{
    margin-top: 35px;
}
.card p{
    color:var(--primary-color);
}
.card a{
    text-decoration: none;
}
.card_social{
    margin: 25px 0;
}
.card_social a {
    color: white;
    margin: 20px 25px;
}
.card_social a:hover{
    color: #f2726a;
}
.card button{
    width: 100px;
    height: 40px;
    border: 1px solid var(--primary-color);
    background: transparent;
    border-radius: 10px;
    transition: 0.3s;
    color: white;
}
.card button:hover{
    background: #f2726a;
}
.card_img:hover{
    width: 100%;
    height: 100%;
    border-radius: unset;
    transform: unset;
    border: none;
    
    
}

